.credit-card {
    width: auto;
    height: auto;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(10px);
}



.credit-card-inner:hover {
    scale: 1.1;
    text-shadow: 0 0 10px #FFFFFF;

}

.credit-card-inner:hover .action-icons {
    scale: 1.4;
}


.pink-gradient {
    border-radius: 20px 20px 0px 0px;
    padding: 1rem;
    background: linear-gradient(360deg, rgba(232, 203, 193, 0) 0%, rgba(213, 178, 167, 0.6) 100%);
}

.yellow-gradient {
    border-radius: 20px 20px 0px 0px;
    padding: 1rem;
    background: linear-gradient(360deg, rgba(225, 192, 53, 0) 0%, rgba(222, 190, 55, 0.6) 100%);
}

.black-gradient {
    border-radius: 20px 20px 0px 0px;
    padding: 1rem;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.pink-gradient img {
    width: 100%;
    height: 100%;
}

.yellow-gradient img {
    width: 100%;
    height: 100%;
}

.black-gradient img {
    width: 100%;
    height: 100%;
}

.card-title-wrapper {
    margin: 1rem;
}

.card-title {
    font-family: 'InterRegular';
    font-size: 1.2rem;
    color: #FFFFFF;
}

.page-title {
    font-family: 'HalveticaNowRegular';
    letter-spacing: 3px;
}



.material-name {
    font-size: 12px;
    font-family: 'NeueMontrealRegular';
    color: #FFFFFF;
}


.material {
    height: 20px;

}

.color {
    width: 14.7px;
    height: 14.7px;
}

.action-icons {
    width: 14.7px;
    height: 14.7px;
}