.actions {
    text-align: right;
}

.socials {
    border: none;
    background: transparent;
    padding: 0.3rem;
}

.socials img {
    width: 30px;
    height: 30px;
}

.imgDimensions {
    width: 40px;
    height: 40px;

}


h3 {
    font-family: 'HalveticaNowRegular';
}

li {
    font-family: 'NeueMontrealRegular';
    font-size: 14px;
}

.actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #8a2b06;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
    background-color: #5a1a01;
    border-color: #5a1a01;
    color: white;
}

.actions .button--alt {
    color: #8a2b06;
}

.actions .button {
    background-color: #8a2b06;
    color: white;
}