.video-background {
    background-image: url("../../assets/videos/world-transparent.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    padding: 0;
    margin-top: -8rem;
    overflow: hidden;
}

.LandingPageHeading {

    z-index: 25;
    text-align: center;
    margin-top: 20rem;
    color: #fff;
    font-size: 1.5vh;
    letter-spacing: 1vh;
    font-family: "HalveticaNow";

}

.moving-border-bottom {
    margin-top: 10rem;
    width: 60px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-self: center;
}


.discover-btn::after,
.lineh1 {
    content: '';
}

.discover-btn {
    padding-bottom: -10px;
    margin: auto;
}

.create-card-button {
    margin-top: 3rem;
}

.lineh1 {
    left: 0;
    height: 2px;
    background-color: #fff;
    animation: lineH 2s infinite linear 5s;
    animation-delay: 100ms;
    animation: lineH 5s infinite linear 5s;


}

@media only screen and (max-width: 576px) {

    /* Styles for screens with a maximum width of 576 pixels go here */
    .moving-border-bottom {
        margin-top: 15rem;
    }


}

@media only screen and (min-width: 576px) and (max-width: 768px) {

    /* Styles for screens with a minimum width of 576 pixels and a maximum width of 768 pixels go here */
    .moving-border-bottom {
        margin-top: 15rem;
    }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {

    /* Styles for screens with a minimum width of 768 pixels and a maximum width of 992 pixels go here */
    .moving-border-bottom {
        margin-top: 15rem;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

    /* Styles for screens with a minimum width of 992 pixels and a maximum width of 1200 pixels go here */

}

@media only screen and (min-width: 1200px) {

    /* Styles for screens with a minimum width of 1200 pixels go here */

}

@keyframes lineH {
    from {
        width: 0%;
    }

    to {
        width: 75%;
    }

    /* 
    50% {
        width: 0%;
    } */

}

@keyframes lineE {
    from {
        width: 75%;
    }

    to {
        width: 5%;
    }
}