* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --list_opacity: 0.2;

}


.form {

    height: 45vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    z-index: 30;
    padding: 1rem;
    border-radius: 25px;
    background-color: transparent;


}

.signupForm {
    z-index: 41;
    width: 90%;
    margin: auto;
}

.blurred-img {
    width: 100%;
    height: 100%;
    /* Set the size and position of the element */
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
    border: #fff 1px solid;
    background: #fff;
    backdrop-filter: blur(20px);
    mix-blend-mode: normal;
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%);
    transition: 0s linear;
    /* -webkit-backdrop-filter: blur(50px); */
}

.closeBtn {
    z-index: 10;
    position: absolute;
    top: 4%;
    right: 3%;
    margin-right: auto;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.form-title {
    font-family: "HalveticaNowRegular";
    color: #003C5F;
}

.inputBox {
    position: relative;
}

.inputBox input {


    margin: 0;
    padding: 4px;
    border: 0.7px solid #fff;
    border-radius: 25px;
    background-color: transparent;
}

.inputBox span {
    position: absolute;
    left: 0;
    color: #fff;
    padding: 1em 2.5em;
    font-size: 0.6em;
    transition: 1ms;
}


.inputBox input:valid~span,
.inputBox input:focus~span {
    color: white;
    background: #13171d;
    transform: translateX(2em) translateY(-0.5em);
    padding: 0 10px;
    font-size: 0.5em;
}

.inputBox input:focus {
    outline: 0.7px solid white;
}

.SubscribeNowButton {
    border-radius: 25px;
    border: none;
    font-size: 12px;
    padding: 0.5em;
}

p {
    margin-bottom: 0.5em;
}

@media only screen and (max-width: 576px) {

    /* Styles for screens with a maximum width of 576 pixels go here */
    .blurred-img {
        height: 40vh;
    }


}

@media only screen and (min-width: 576px) and (max-width: 768px) {

    /* Styles for screens with a minimum width of 576 pixels and a maximum width of 768 pixels go here */
    .blurred-img {
        height: 40vh;
    }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {

    /* Styles for screens with a minimum width of 768 pixels and a maximum width of 992 pixels go here */
    .blurred-img {
        height: 31vh;
    }

}